# Configuración PostgreSQL
POSTGRES_USER=admin_inventario
POSTGRES_PASSWORD=secreto_seguro
POSTGRES_DB=inventario_db

# Configuración RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin123
